
.logoNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoNameContainer img {
  height: 100px;
  width: auto;
}

.logout {
  font-size: 20px;
  margin-right: 2%;
}

.logout a {
  color: white;
  text-decoration: none;
}