img {
  max-height: 100px;
  width: auto;
  padding: 10px;
}

.logoNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #A83264;
  text-transform: uppercase;
}

.logoNameContainer img {
  height: 100px;
  width: auto;
}

.logout {
  font-size: 20px;
  margin-right: 2%;
}

.logout a {
  text-decoration: none;
  text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
  .headerContainer {
    padding: 1rem 0;
  }
  .logoNameContainer img {
    height: 100px;
    width: 100px;
  }
  .logoNameContainer h1 {
    font-size: 1.5rem;
    margin-left: 0;
    width: 100px;
  }
  .logout {
    font-size: 15px;
  }
}