.recipes-container {
    margin: 2% auto;
    max-width: 1024px;
    width: 100%;
}

.form-check {
    margin: 1% 0;
}

.form-check label {
    margin-right: 4%;
}

.md-form form {
    margin: 0;
}

.search-recipes {
    margin: 1% 0;
}

.recipes-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recipe {
    padding: 1% 2%;
}

.recipe:hover {
    background-color: lightgray;
}