.recipes-container {
    margin: 2% auto;
    max-width: 1024px;
    width: 100%;
}

.form-check {
    margin: 1% 0;
}

.form-check label {
    margin-right: 4%;
}

.md-form form {
    margin: 0;
}

.search-recipes {
    margin: 1% 0;
}

.recipes-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recipe {
    background-color: white;
    border: 1px solid gray;
    color: black;
    cursor: pointer;
    padding: 1% 2%;
    width: 100%;
    border-radius: 4px;
}

.recipe .recipe-body .recipe-img {
    border-radius: 50%;
    height: 50px;
    object-fit: cover;
    margin-right: 25px;
    width: 50px;
}

.recipe:hover {
    background-color: lightgray;
}