.btn-favorite {
    background-color: transparent;
    bottom: -14px;
    border: none;
    color: orange;
    font-size: 28px;
    position: absolute;
    right: 4px;
}

.btn-favorite:hover {
    font-size: 30px;
}