.card-top .recipe-image {
    width: 350px !important;
}

.card-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-body h5 {
    margin-top: 3%;
}

.card-body .ingredients {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.card-body .ingredients ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card-body .instructions {
    margin: 1% 0;
    padding-left: 1%;
}

.card-img-top {
    border: 1px solid gray;
}

.modal-header {
    padding: 1rem 2rem !important;
}

.modal-body {
    padding: 0.6rem !important;
}

.modal-dialog {
    max-width: 900px !important;
}

.buttons {
    text-align: right;
}

.buttons button {
    margin-left: 2%;
}