// .recipe-card {
//     padding: 2rem;
// }
.recipe-card h5 {
    margin-top: 3%;
}

.recipe-card .ingredients ol {
    padding: 0;
}

.recipe-card .recipe-image {
    position: relative;
}

.recipe-card .recipe-image img {
    border: 1px solid gray;
    border-radius: 10px;
    max-height: fit-content;
    width: 100%;
}

.recipe-card .instructions {
    margin: 1% 0;
    padding-left: 1%;
}

.recipe-card .btn-favorite {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: -2px;
}

.recipe-card .btn-favorite:hover {
    font-size: 26px;
}

.recipe-image img {
    padding: 0;
}