.sidebarContainer {
  width: 20%;
  border: solid black 1px;
  background-color: lightyellow;
  border-radius: 10px;
  font-size: 18px;
  padding: 2rem;
  height: 100%;
  width: 15%;
  margin-left: 20px;
  background-color: #DBF5DA;
  opacity: 85%;
  text-transform: uppercase;
  box-shadow: 5px 10px #265925;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarItem {
  margin: 4px;
}

.sidebarItem a {
  color: gray;
  text-decoration: none;
}

.sidebarItem a:hover {
  color: blue;
  text-decoration: none;
  margin: 10px;
}

a {
  color: #A83264;
}

a:hover {
  color: hotpink;
}