.sidebarContainer {
  width: 20%;
  border-radius: 10px;
  font-size: 18px;
  margin-left: 20px;
  background-color: white;
  opacity: 85%;
  text-transform: uppercase;
  box-shadow: 5px 10px #265925;
}

.sidebar {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
}

.sidebarItem {
  margin: 4px;
}

.sidebarItem a {
  color: #A83264;
  text-decoration: none;
}

.sidebarItem a:hover {
  color: hotpink;
  text-decoration: none;
  margin: 10px;
}

a {
  color: #A83264;
}

a:hover {
  color: hotpink;
}

#sidebar-checkbox, #sidebar-checkbox-label {
  display: none;
}

@media only screen and (max-width: 1100px) {
  .mainContainer {
    position: relative;
  }
  .sidebarContainer {
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: 100vh;
    left: -1000px;
    opacity: .96;
    position: absolute;
    top: 0;
    width: 250px;
    z-index: 9999;
  }

  .sidebar {
    padding: 40px;
  }
  
  #sidebar-checkbox-label {
    display: block;
  }
  
  #sidebar-checkbox-label {
    color: black;
    font-weight: bold;
    font-size: 20px;
  }
  
  #sidebar-checkbox~.sidebarContainer {
    transition: left .4s ease-out;
  }
  
  #sidebar-checkbox, #sidebar-checkbox-label {
    color: white;
    cursor: pointer;
    font-size: 25px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    left: 20px;
    top: 0;
    z-index: 9999999;
  }
  
  #sidebar-checkbox:checked~.sidebarContainer {
    left: -20px;
    transition: left .4s ease-in;
  }

  #sidebar-checkbox:checked~#sidebar-checkbox-label {
    color: black;
  }

  #sidebar-checkbox~#sidebar-checkbox-label::after {
      content: '☰';
  }
}

@media only screen and (max-width: 800px) {
  .sidebarContainer {
    border-radius: 0;
    box-shadow: none;
    height: 244px;
    left: 0;
    margin-left: 0;
    opacity: .96;
    position: absolute;
    top: -100%;
    width: 100%;
    z-index: 9999;
  }
  
  #sidebar-checkbox-label {
    display: block;
  }
  
  #sidebar-checkbox-label {
    color: black;
    font-weight: bold;
    font-size: 20px;
  }
  
  #sidebar-checkbox~.sidebarContainer {
    transition: top .4s ease-out;
  }
  
  #sidebar-checkbox, #sidebar-checkbox-label {
    cursor: pointer;
    font-size: 25px;
    left: unset;
    margin: 0;
    overflow: hidden;
    position: absolute;
    right: 25px;
    top: 0;
    z-index: 9999999;
  }
  
  #sidebar-checkbox:checked~.sidebarContainer {
    border: 1px solid gray;
    top: 0;
    left: 0;
    transition: top .4s ease-in;
  }

  #sidebar-checkbox~#sidebar-checkbox-label::after {
      content: '☰';
  }
}
