form {
    position: relative;
}

.camera-input {
    padding-top: 4px;
    padding-right: 1.6%;
    position: absolute;
    right: 0;
    height: 100%;
}

.camera-input>input {
    display: none;
};

.camera-input>label {
    cursor: pointer;
};

.camera-input>label > i{
    font-size: 27px;
    vertical-align: top;
}

.ingredients {
    position: relative;
}

.ingredients .image-preview { 
    position: absolute;
    right: 0;
    top: 0;
}

.ingredients .image-preview img[src="data:,"] { 
    height: 0; 
}

.ingredients .image-preview img {
    height: 100px;
}

.ingredients .list-group {
    flex-direction: row !important;
    flex-wrap: wrap;
    width: 50%;
}

.ingredients .list-group .list-group-item {
    border-top-width: 1px;
    border-radius: 4px;
    max-width: 100px;
    margin-right: 1%;
    padding: 0.6%;
}

.ingredients .list-group .list-group-item {
    font-size: 14px;
    padding: 4px;
}

.list-group-item button {
    background-color: unset;
    border: 0;
    color: black;
    font-size: 10px;
}

.list-group-item button:hover {
    color: gray;
}

.filters-dropdown {
    margin: 1% 0;
}

#filters-checkbox-label {
    color: blue;
    font-weight: bold;
    font-size: 18px;
}

#filters-checkbox~.filters-list {
    max-height: 0;
    transition: max-height .1s ease-out;
}

#filters-checkbox, #filters-checkbox-label {
    cursor: pointer;
    margin: 0;
    overflow: hidden;
}

#filters-checkbox:checked~.filters-list {
    border: 1px solid gray;
    max-height: 400;
    transition: max-height .1s ease-in;
}

#filters-checkbox:checked~#filters-checkbox-label::after {
    content: '  -';
}

#filters-checkbox~#filters-checkbox-label::after {
    content: '  +';
}

.sensitivities-list {
    display: flex;
}

#filters-checkbox {
    display: none;
}

.sensitivities {
    background-color: white;
    padding: 2%;
}

.sensitivity {
    margin-right: 4%;
}

.sensitivity .sensitivities-input{
    margin-right: 6px;
}

.filters-list {
    border-radius: 4px;
    overflow: hidden;
}

.filters-title {
    font-weight: bold;
    margin-bottom: 2px;
}