.button{ 
	padding-left: 10px; 
	padding-right: 20px; 
	padding-top: 30px; 
	padding-bottom: 10px; 
} 
 
.button{ 
	margin: 10px; 
} 

.friend-result-container {
    background-color: white;
    border: 1px solid gray;
    color: black;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    position: relative;
}